/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js

/.metadata/.plugins/
